p {

	text-align: center;
	font-size: 18px;
  }

body {

	background: #cccccc;
     } 
    

 #banner {

 	     width: 100%;
         height: 300px;

         }


 .itens {
 	font-style: italic;
 }

 .beneficios {
 	width: 30%;
 }

 ul {
 	display: inline-block;
 	vertical-align: top;
 	margin-right: 15px;
 }

 .cabecario {

   padding-left: 25px;
 }

 .texto-centralizado {

   text-align: center;
   
 }